<div class="full-width">
    <h2>Albums</h2>
  </div>
  
  <div class="album-list">
    <ul class="albums">
      <li *ngFor="let album of albums">
        <a routerLink="/albums/{{album.pk}}">
          <span class="badge">{{album.pk}}</span> {{album.name}}
        </a>
        <button class="delete" title="delete album"
          (click)="delete(album)">x</button>
      </li>
    </ul>
  </div>
  
  
  <div class="album-box">
    <div class="album-form">
      <div class="textbox">
          <input #albumName placeholder="Name">
      </div>
    
      <div class="textbox">
          <input #albumDesc placeholder="Description">
      </div>
    
      <div class="textbox">
          <input #albumPrice placeholder="Price">
      </div>
    
      <input type="button"
             class="btn" 
             value="Add album" 
             (click)="add(
                        albumName.value,
                        albumDesc.value, 
                        albumPrice.value
                      );
                      albumName.value='';
                      albumDesc.value='';
                      albumPrice.value=''">
    </div>
  </div>