<div class="buttons">
  <button class="button-9" role="button" (click)="setCategory(0)">All</button>
  <button class="button-9" role="button" (click)="setCategory(1)">Gaming</button>
  <button class="button-9" role="button" (click)="setCategory(2)">Toys</button>
  <button class="button-9" role="button" (click)="setCategory(3)">Books</button>
  <button class="button-9" role="button" (click)="setCategory(4)">Music</button>
</div>

<button (click)="goBack()">Return back</button>

<h2>Products</h2>

<div *ngFor="let product of products">
  <div *ngIf="currentCategory == 0 && product.visibility">

    <h3>
      <ul> 
        <li><a [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a> </li>
      </ul>
      
    </h3>

  </div>

  <div *ngIf="currentCategory == product.category && product.visibility">

    <h3>
      <ul> 
        <li><a [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a> </li>
      </ul>
    </h3>

  </div>

</div>